h1 {
    font-family: sans-serif;
}

body {
    font-size: 16px;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 30px;
    text-align: center;
    text-decoration: lightgreen;
}

#preto {
    background-color: black;
}

#azul {
    background-color: blue;            
}

#verde {
    background-color: green;
}