.super-mario {
    width: 200px;
    position: absolute;
    left: 100px; 
  }
  
  .goomba {
    width: 100px;
    left: 10px;
    top: 400px;
    position: absolute;
    left: 150px;

  }
  
  .baloon {
      margin: 30px;
      position: absolute;
      top: 10px;
      left: 300px;

  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 80px;
    left: 350px;
    z-index: 1;


  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 200px;
  }